In [16]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Original data
data = {
    'Gender': [1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2],
        'Age Range': [1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2],
            'Head Size(cm^3)': [4512, 3738, 4261, 3777, 4177, 3585, 3785, 3559, 3613, 3982, 3443, 3993, 3640, 4208, 3832],
                'Brain Weight(grams)': [1530, 1297, 1335, 1282, 1590, 1300, 1400, 1255, 1355, 1375, 1340, 1380, 1355, 1522, 1208]
                }

df = pd.DataFrame(data)


numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns


scaler = MinMaxScaler()
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])


print(df)

    Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0      0.0        0.0         1.000000             0.842932
1      0.0        0.0         0.275959             0.232984
2      0.0        0.0         0.765201             0.332461
3      0.0        0.0         0.312442             0.193717
4      0.0        0.0         0.686623             1.000000
5      0.0        0.0         0.132834             0.240838
6      0.0        0.0         0.319925             0.502618
7      0.0        0.0         0.108513             0.123037
8      0.0        1.0         0.159027             0.384817
9      1.0        1.0         0.504210             0.437173
10     1.0        1.0         0.000000             0.345550
11     1.0        1.0         0.514500             0.450262
12     1.0        1.0         0.184284             0.384817
13     1.0        1.0         0.715622             0.821990
14     1.0        1.0         0.363891             0.000000

In [17]:
import pandas as pd

In [18]:
file_path = '/content/archive (2).zip'
housing_data = pd.read_csv(file_path)

In [19]:
data_description = housing_data.describe()
print("Data Description:")
print(data_description)

Data Description:
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [20]:
data_info = housing_data.info()
print("\nData Types and Shape:")
print(data_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

Data Types and Shape:
None

In [21]:
null_values = housing_data.isnull().sum()
print("\nNull Values:")
print(null_values)

Null Values:
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [22]:
housing_data_filled = housing_data.fillna(housing_data.mean())

<ipython-input-22-77497ba84a3e>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  housing_data_filled = housing_data.fillna(housing_data.mean())

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [24]:
file_path = '/content/sample_data/california_housing_test.csv'
housing_data = pd.read_csv(file_path)

In [25]:
non_numeric_columns = housing_data.select_dtypes(exclude=['float64', 'int64']).columns

In [26]:
features = housing_data.drop(columns=['median_house_value'])
target = housing_data['median_house_value']

In [27]:
numeric_features = features.drop(columns=non_numeric_columns)
categorical_features = features[non_numeric_columns]

In [28]:
encoder = OneHotEncoder(drop='first', sparse=False)
categorical_features_encoded = pd.DataFrame(encoder.fit_transform(categorical_features), columns=encoder.get_feature_names_out(categorical_features.columns))

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [29]:
features_processed = pd.concat([numeric_features, categorical_features_encoded], axis=1)

In [30]:
scaler = MinMaxScaler()
features_normalized = pd.DataFrame(scaler.fit_transform(features_processed), columns=features_processed.columns)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(features_normalized, target, test_size=0.2, random_state=42)

In [32]:
print("Features:")
print(features.head())
print("\nTarget Variable:")
print(target.head())
print("\nNormalized Features:")
print(features_normalized.head())
print("\nTrain and Test Shapes:")
print("X_train:", X_train.shape, "X_test:", X_test.shape, "y_train:", y_train.shape, "y_test:", y_test.shape)

Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income
0      1537.0       606.0         6.6085
1       809.0       277.0         3.5990
2      1484.0       495.0         5.7934
3        49.0        11.0         6.1359
4       850.0       237.0         2.9375

Target Variable:
0    344700.0
1    176500.0
2    270500.0
3    330000.0
4     81700.0
Name: median_house_value, dtype: float64

Normalized Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0   0.219814  0.513889            0.509804     0.127414        0.121654
1   0.606811  0.181624            0.823529     0.049402        0.056858
2   0.657379  0.130342            0.509804     0.117691        0.093225
3   0.600619  0.134615            0.529412     0.002004        0.002400
4   0.465428  0.402778            0.352941     0.040566        0.044674

   population  households  median_income
0    0.128416    0.122565       0.421277
1    0.067393    0.055804       0.213728
2    0.123973    0.100041       0.365064
3    0.003688    0.001826       0.388684
4    0.070830    0.047687       0.168108

Train and Test Shapes:
X_train: (2400, 8) X_test: (600, 8) y_train: (2400,) y_test: (600,)